In [2]:
vehicle_counter_DF = spark.read.csv('/home/amani/per-vehicle-records-2019-10-31.csv',inferSchema = True, header = True)
vehicle_counter_DF.registerTempTable("vehicle_counter")

In [5]:
vehicle_counter_DF.registerTempTable("vehicle_counter")

In [6]:
result1=spark.sql("SELECT cosit ,count(cosit) as cositcount from vehicle_counter group by cosit order by count(cosit) desc limit 1")
result1.show()
result1.select("cosit", "cositcount")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="question1", keyspace="bdmassignment")\
.save(mode="append")

+-----+----------+
|cosit|cositcount|
+-----+----------+
| 1508|     98292|
+-----+----------+

In [9]:
result2=spark.sql("SELECT avg(gap) as avgdistance from vehicle_counter where cosit in ('1503','1504','1505','1506','1507','1012','1500','1501','1502','1508','1509','15010','15011','15012')")
result2.show()
result2=spark.sql("SELECT avg(gap) as avgdistance from vehicle_counter where cosit in ('1503','1504','1505','1506','1507','1012','1500','1501','1502','1508','1509','15010','15011','15012')")
result2.select("avgdistance")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="question2", keyspace="bdmassignment")\
.save(mode="append")

In [3]:
result3=spark.sql("SELECT temperature, hour, cosit,day from vehicle_counter order by temperature desc limit 1")
result3.show()
result3=spark.sql("SELECT temperature, hour, cosit , day from vehicle_counter order by temperature desc limit 1")
result3.select("temperature", "hour","cosit","day")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="question3", keyspace="bdmassignment")\
.save(mode="append")

+-----------+----+-----+---+
|temperature|hour|cosit|day|
+-----------+----+-----+---+
|       12.0|  18| 1015| 31|
+-----------+----+-----+---+

In [4]:
result4=spark.sql("SELECT  count(cosit) as wimsitecount from vehicle_counter  where weight!=0 ")
result4.show()
result4=spark.sql("SELECT  count(cosit) as wimsitecount from vehicle_counter  where weight!=0 ")
result4.select("wimsitecount")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="question4", keyspace="bdmassignment")\
.save(mode="append")

+------------+
|wimsitecount|
+------------+
|      188176|
+------------+

In [5]:
result5=spark.sql("SELECT avg(speed) as avgspeed , cosit from vehicle_counter where cosit in ('1503','1504','1505','1506','1507','1012','1500','1501','1502','1508','1509','15010','15011','15012') group by cosit limit 1")
result5.show()

+-----------------+-----+
|         avgspeed|cosit|
+-----------------+-----+
|95.00087226856925| 1507|
+-----------------+-----+

In [6]:
result5=spark.sql("SELECT avg(speed) as avgspeed from vehicle_counter where cosit in ('1503','1504','1505','1506','1507','1012','1500','1501','1502','1508','1509','15010','15011','15012')")
result5.show()

+-----------------+
|         avgspeed|
+-----------------+
|82.66201226494377|
+-----------------+

In [7]:
result6=spark.sql("SELECT  count(class) as vehiclecount , class  from vehicle_counter  group by class order by count(class) desc ")
result6.show()

+------------+-----+
|vehiclecount|class|
+------------+-----+
|     3472965|    2|
|      498505|    3|
|      216978|    6|
|      135202|    5|
|       29347|    4|
|       21224|    7|
|       14682|    1|
|         396|    0|
+------------+-----+

In [ ]:
result6=spark.sql("SELECT  count(class) as vehiclecount , class  from vehicle_counter  group by class order by count(class) desc ")
result6.select("vehiclecount ", "class")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="question6", keyspace="bdmassignment")\
.save(mode="append")

In [8]:
result7=spark.sql("SELECT cosit ,count(cosit) as cositcount from vehicle_counter where cosit in ('1014','20021','1113','1012','1501','1502','1508','1013','1070','1321','1500','1503','1504','1505','1506','1507','1509','1812','15010','15011','15012','20047','201081','201082') group by cosit  order by count(cosit) desc limit 3")
result7.show()

+-----+----------+
|cosit|cositcount|
+-----+----------+
| 1508|     98292|
| 1502|     89498|
| 1503|     86195|
+-----+----------+

In [ ]:
result7=spark.sql("SELECT cosit ,count(cosit) as cositcount from vehicle_counter where cosit in ('1014','20021','1113','1012','1501','1502','1508','1013','1070','1321','1500','1503','1504','1505','1506','1507','1509','1812','15010','15011','15012','20047','201081','201082') group by cosit  order by count(cosit) desc limit 3")
result7.select("cosit ", "cositcount")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="question7", keyspace="bdmassignment")\
.save(mode="append")

In [9]:
result8=spark.sql("SELECT cosit ,count(cosit) as cositcount from vehicle_counter  where cosit in ('3172','3182') group by cosit  order by count(cosit) desc limit 1")
result8.show()

+-----+----------+
|cosit|cositcount|
+-----+----------+
| 3172|      9112|
+-----+----------+

In [ ]:
result8=spark.sql("SELECT cosit ,count(cosit) as cositcount from vehicle_counter  where cosit in ('3172','3182') group by cosit  order by count(cosit) desc limit 1")
result8.select("cositcount","cosit ")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="question8", keyspace="bdmassignment")\
.save(mode="append")

In [10]:
result9=spark.sql("SELECT  count(cosit) as HGVcount, cosit  from vehicle_counter  where classname in ('HGV_ART','HGV_RIG') group by cosit order by count(cosit) desc limit 1 ") 
result9.show()
result9.select("HGVcount","cosit ","classname")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="question9", keyspace="bdmassignment")\
.save(mode="append")

+--------+-----+
|HGVcount|cosit|
+--------+-----+
|   12031|  997|
+--------+-----+

In [ ]:
result9=spark.sql("SELECT  count(cosit) as HGVcount, cosit  from vehicle_counter  where classname in ('HGV_ART','HGV_RIG') group by cosit order by count(cosit) desc limit 1 ") 
result9.select("HGVcount","cosit ","classname")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="question9", keyspace="bdmassignment")\
.save(mode="append")

In [2]:
result10=spark.sql("SELECT  count(cosit) as numberofvehicles , cosit  from vehicle_counter  where cosit in ('20073', '20081', '200722') group by cosit order by count(cosit)") 
result10.show()

+----------------+------+
|numberofvehicles| cosit|
+----------------+------+
|            5521| 20081|
|           17568|200722|
+----------------+------+

In [ ]:
result10=spark.sql("SELECT  count(cosit) as numberofvehicles , cosit  from vehicle_counter  where cosit in ('20073', '20081', '200722') group by cosit order by count(cosit)") 
result10.select("numberofvehicles","cosit ")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="question10", keyspace="bdmassignment")\
.save(mode="append")